@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: rgb(243, 204, 204);
    height: 100vh;
    transition: background 1s;
}


.dark {
    background-color: #333;

}


.header {
    display: flex;

}

.center {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 2%;
}

section.box1 {
    margin-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: min-content;
    width: 17rem;
}


.img-logo img {
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 50%;
    transition: 0.3s;
    width: 18rem;
    height: 18rem;

}

.img-logo:hover {
    border-color: solid black;
    object-fit: cover;
    transition: 0.3s;
}



.desc {
    text-align: center;
    color: white;
    margin: 10px 0;
}

.desc h2 {
    font-weight: normal;
}


.desc p {
    color: white;

}

.desc p .desc h2:hover {
    background: white;
    color: #0077ff;
    transition: 1s;

}

.link {
    width: 100%;
    text-align: center;
}

.link a {
    color: white;
    text-decoration: none;
}

.link .link-a:hover {
    border: solid 2px white;
    background: white;
    color: #0077ff;
}

.link .link-a {
    position: relative;
    border-radius: 7px;
    border: 2px solid white;
    padding: 10px;
    margin: 17px 0;
    transition: 0.3s;
}

.link .link-a i {
    position: absolute;
    left: 20px;
    line-height: 1;
    font-size: 23px;
}

.link .link-a h3 {
    font-weight: normal;
}

.link2 {
    margin-top: 10px;
}

.link2 i:hover {

    background-color: white;
    transform: scale(1.3);
}

.link2 i {
    transition: 0.3s;
}

.link2 a {
    color: #dfdfdf;
    font-size: 25px;
    margin: 0 5px;
}

.label {
    background-color: #333;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height:25px;
     width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.4s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: white
  }
  
  .fa-sun {
    color: rgba(255, 255, 123, 0.945);
  }


.ball-move  {
    left: calc(100% - 40px);
    background-color: white;
   
}

.fa-whatsapp{

    color: rgb(115, 255, 0);
}

.fa-instagram{

    color: rgb(217, 66, 247)
}

.fa-tiktok:hover{

    color: black;
}