@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

body {
    background-image: url("https://cdn.wallpapersafari.com/85/31/pMqAJe.jpg");
    background-position: center;
    height: 100vh;
}

header {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 80%;
    max-width: 600px;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #29212110;
    border: 2px solid red;
    backdrop-filter: blur(20px);
}

.login:hover {
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 1s;
}

input {
    color: white;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    border: 2px solid red;
    background: #333;
}

input:hover {
    border-radius: 20px;
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 0.7s;
    border: red;
    cursor: pointer;
}

.submit {
    background-color: rgba(241, 241, 241, 0);
}

.submit:hover {
    background-color: red;
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 2s;
    border-radius: 20px;
}

h1 {
    font-size: larger;
    color: white;
}

h2 {
    font-size: larger;
    color: white;
}

h3 {
    font-size: larger;
    color: white;
}


.sabre {
    left: 100px;
    width: 20px;
    height: 300px;
    background-color: #888;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}


.sabre-blade {
    background-color: red;
    width: 20px;
    height: 100%;
    transform-origin: bottom;
    /*Define o ponto de origem da animação */
    animation: none;
    /*Transição inicial de desligado */
}

.sabre-blade:hover{
    background-color: red;
    transition: 2s;
    transform-origin: bottom;
    animation: bladeGlowOff 0s linear;
}

.sabre.active .sabre-blade {
    animation: bladeGlowOn 0.5s linear forwards;
    /* Brilho ao passar o mouse */
}
@keyframes bladeGlowOff {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes glowOff {
    from {
      top: 100%; /* Inicia o brilho no final do sabre */
    }
    to {
      top: 0; /* Finaliza o brilho no topo do sabre */
    }
  }
  
  @keyframes bladeGlowOn {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  
  @keyframes glowOn {
    from {
      top: 100%; /* Inicia o brilho no final do sabre */
    }
    to {
      top: 0; /* Finaliza o brilho no topo do sabre */
    }
  }