@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

body {
    background-image: url("https://cdn.wallpapersafari.com/85/31/pMqAJe.jpg");
    
}

header {

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {

    width: 1950px;
    height: 1050px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {

    width: 1200px;
    max-width: 600px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #29212110;
    border: 2px solid black;
    backdrop-filter: blur(20px);

}
.login:hover{
    box-shadow:0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 1s;

}

input {
    color: black;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    border: 2px solid black;
    background: #ffffff10;
}

input:hover{
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 0.7s;
    border: red;
    border-radius: 20px;

}

input[type="submit"] {
    background-color: rgba(241, 241, 241, 0);
   

}
input[type="submit"]:hover{
    background-color: red;
    box-shadow: 0 0 15px red;
    text-shadow: 0 0 15px red;
    transition: 2s;

}


h1 {
    height: 10px;
    text-align: center;
    color: white;


}

h2 {
    height: 2px;
    text-align: center;
    color: white;

}

h3 {
    height: 2px;
    text-align: center;
    color: white;
}